:root {
  --background-accent-gray-default: var(--grey-500);
  --background-accent-gray-bolder-default: var(--neutral-700);
  --background-accent-gray-subtle-default: var(--neutral-500);
  --background-accent-gray-subtler-default: var(--neutral-300);
  --background-accent-gray-subtlest-default: var(--neutral-200);
  --background-accent-green-bold: var(--green-500);
  --background-accent-green-subtle: var(--green-100);
  --background-accent-green-subtlest: var(--green-50);
  --background-accent-navy-bold: var(--navy-500);
  --background-accent-navy-subtle: var(--navy-200);
  --background-accent-navy-subtler: var(--navy-100);
  --background-accent-navy-subtlest: var(--navy-50);
  --background-accent-orange-bold: var(--brown-500);
  --background-accent-orange-subtle: var(--brown-200);
  --background-accent-orange-subtlest: var(--brown-50);
  --background-accent-purple-default: #6e5dc6;
  --background-accent-red-bold: var(--red-500);
  --background-accent-red-subtle: var(--red-200);
  --background-accent-red-subtler: var(--red-100);
  --background-accent-red-subtlest: var(--red-50);
  --background-brand-bold-default: var(--teal-500);
  --background-brand-bold-hovered: var(--teal-600);
  --background-brand-bold-pressed: var(--teal-700);
  --background-brand-subtlest-default: var(--blue-100);
  --background-brand-subtlest-hovered: var(--blue-200);
  --background-brand-subtlest-pressed: var(--blue-300);
  --background-danger-default: var(--red-500);
  --background-danger-hovered: var(--red-600);
  --background-danger-pressed: var(--red-700);
  --background-discovery-default: var(--navy-500);
  --background-discovery-hovered: var(--navy-600);
  --background-discovery-pressed: var(--navy-700);
  --background-information-default: var(--blue-100);
  --background-information-hovered: var(--blue-200);
  --background-information-pressed: var(--blue-300);
  --background-input-default: var(--neutral-0);
  --background-input-hovered: var(--neutral-100);
  --background-input-pressed: var(--neutral-0);
  --background-neutral-default: var(--alpha-neutral200a);
  --background-neutral-disabled: var(--alpha-neutral100a);
  --background-neutral-hovered: var(--alpha-neutral300a);
  --background-neutral-pressed: var(--alpha-neutral400a);
  --background-neutral-bold-default: var(--grey-500);
  --background-neutral-bold-hovered: var(--grey-600);
  --background-neutral-bold-pressed: var(--grey-700);
  --background-neutral-subtle-default: var(--alpha-neutral100a);
  --background-neutral-subtle-hovered: var(--alpha-neutral200a);
  --background-neutral-subtle-pressed: var(--alpha-neutral300a);
  --background-selected-default: var(--teal-100);
  --background-selected-hovered: var(--teal-200);
  --background-selected-pressed: var(--teal-300);
  --background-success-bold-default: var(--green-700);
  --background-success-bold-hovered: var(--green-800);
  --background-success-bold-pressed: var(--green-900);
  --background-brand: var(--brand);
  --d-background-accent-red-sublest: var(--red-50);
  --border-bold: var(--cadet-blue-300);
  --border-bolder: var(--cadet-blue-400);
  --border-brand: var(--teal-500);
  --border-danger: var(--red-500);
  --border-default: var(--cadet-blue-200);
  --border-disabled: var(--alpha-neutral200a);
  --border-focused: var(--teal-500);
  --border-selected: var(--teal-500);
  --border-accent-green-default: var(--green-500);
  --border-accent-green-subtle: var(--green-200);
  --border-accent-navy-default: var(--navy-500);
  --border-accent-navy-subtle: var(--navy-100);
  --border-accent-navy-subtler: var(--navy-200);
  --border-accent-orange-default: var(--brown-500);
  --border-accent-orange-subtle: var(--brown-200);
  --border-accent-yellow-default: var(--yellow-500);
  --icon-danger: var(--red-500);
  --icon-default: var(--black-500);
  --icon-disabled: var(--alpha-neutral400a);
  --icon-discover: var(--navy-500);
  --icon-information: var(--teal-500);
  --icon-inverse: var(--base-white);
  --icon-selected: var(--teal-500);
  --icon-subtle: var(--grey-500);
  --icon-subtlest: var(--grey-300);
  --icon-success: var(--green-500);
  --icon-warning: var(--brown-500);
  --icon-accent-blue: var(--teal-500);
  --icon-accent-green: var(--green-500);
  --icon-accent-navy: var(--navy-700);
  --icon-accent-orange: var(--brown-400);
  --icon-accent-red: var(--red-500);
  --icon-brand-default: var(--teal-500);
  --icon-brand-hovered: var(--teal-600);
  --icon-brand-pressed: var(--teal-700);
  --link-default: var(--blue-teal-500);
  --link-hovered: var(--blue-600);
  --link-pressed: var(--blue-700);
  --link-visited: var(--purple-700);
  --text-danger: var(--red-500);
  --text-default: var(--black-500);
  --text-disabled: var(--alpha-neutral400a);
  --text-inverse: var(--neutral-0);
  --text-selected: var(--teal-500);
  --text-subtle: var(--neutral-800);
  --text-subtlest: var(--neutral-700);
  --text-sucsess: var(--green-500);
  --text-waring: var(--brown-600);
  --text-accent-blue-blue: var(--teal-700);
  --text-accent-blue: var(--accent-blue);
  --text-accent-green-bolder: var(--green-700);
  --text-accent-green-boldered: var(--green-800);
  --text-accent-green-default: var(--green-600);
  --text-accent-orange-default: var(--brown-600);
  --text-accent-purple-bold: var(--navy-800);
  --text-accent-purple-default: var(--navy-500);
  --text-accent-red-red: var(--red-500);
  --text-accent-teal-default: var(--teal-500);
  --text-accent-yellow-yellow: var(--yellow-500);
  --text-brand-default: var(--teal-500);
  --text-brand-hovered: var(--teal-600);
  --text-brand-pressed: var(--teal-700);
  --text-green-bolder: var(--green-bolder);
  --elevation-surface-blanket: #475569cc;
  --elevation-surface-default: #f1f8fd;
  --elevation-surface-overlay: #ffffff;
  --elevation-surface-subtle: #ffffffb2;
  --elevation-surface-subtler: #ffffff59;
  --elevation-surface-sunken: #F7F8F9;

  --alpha-dark-neutral-100a: #03040442;
  --alpha-dark-neutral100a: #bcd6f00a;
  --alpha-dark-neutral200a: #a1bdd914;
  --alpha-dark-neutral250a: #c8e1f91a;
  --alpha-dark-neutral300a: #a6c5e229;
  --alpha-dark-neutral350a: #c3defe33;
  --alpha-dark-neutral400a: #bfdbf847;
  --alpha-dark-neutral500a: #9bb4ca80;
  --alpha-neutral100a: #091e4208;
  --alpha-neutral200a: #091e420f;
  --alpha-neutral300a: #091e4224;
  --alpha-neutral400a: #091e424f;
  --alpha-neutral500a: #091e427d;
  --base-white: #ffffff;
  --black-100: #bababa;
  --black-200: #999999;
  --black-300: #6a6a6a;
  --black-400: #4d4d4d;
  --black-50: #e9e9e9;
  --black-500: #212121;
  --black-600: #1e1e1e;
  --black-700: #171717;
  --black-800: #121212;
  --black-900: #0e0e0e;
  --blue-100: #e9f2ff;
  --blue-1000: #1c2b41;
  --blue-200: #cce0ff;
  --blue-300: #85b8ff;
  --blue-400: #579dff;
  --blue-600: #1d7afc;
  --blue-700: #0c66e4;
  --blue-800: #0055cc;
  --blue-900: #09326c;
  --blue-teal-500: #388bff;
  --accent-blue: #0A7494;
  --brown-100: #ffeed5;
  --brown-200: #f7d1b5;
  --brown-300: #ffbd72;
  --brown-400: #fd973a;
  --brown-50: #fff7ed;
  --brown-500: #fc7913;
  --brown-600: #ed5d09;
  --brown-700: #c4450a;
  --brown-800: #9c3610;
  --brown-900: #7d2f11;
  --cadet-blue-200: #eaecf0;
  --cadet-blue-300: #d9dde4;
  --cadet-blue-400: #bfc5d1;
  --dark-neutral-100: #101214;
  --dark-neutral0: #161a1d;
  --dark-neutral100: #1d2125;
  --dark-neutral1000: #c7d1db;
  --dark-neutral1100: #dee4ea;
  --dark-neutral200: #22272b;
  --dark-neutral250: #282e33;
  --dark-neutral300: #2c333a;
  --dark-neutral350: #38414a;
  --dark-neutral400: #454f59;
  --dark-neutral500: #596773;
  --dark-neutral600: #738496;
  --dark-neutral700: #8c9bab;
  --dark-neutral800: #9fadbc;
  --dark-neutral900: #b6c2cf;
  --green-100: #bce6ce;
  --green-200: #ace7c2;
  --green-300: #6ec994;
  --green-400: #52be80;
  --green-50: #dcfff1;
  --green-500: #27ae60;
  --green-600: #239e57;
  --green-700: #1c7c44;
  --green-800: #156035;
  --green-900: #104928;
  --green-bolder: #2ABB7F;
  --grey-100: #d0d5dd;
  --grey-200: #aab1ba;
  --grey-300: #475569cc;
  --grey-400: #6c7787;
  --grey-50: #edeef0;
  --grey-500: #475569;
  --grey-600: #414d60;
  --grey-700: #323c4b;
  --grey-800: #272f3a;
  --grey-900: #1e242c;
  --navy-100: #d1d0fd;
  --navy-200: #bab9fc;
  --navy-300: #9b99fa;
  --navy-400: #8885f9;
  --navy-50: #f0f0fe;
  --navy-500: #6a67f8;
  --navy-600: #605ee2;
  --navy-700: #4b49b0;
  --navy-800: #403e94;
  --navy-900: #2d2b68;
  --neutral-0: #ffffff;
  --neutral-1000: #172b4d;
  --neutral-1100: #091e42;
  --neutral-200: #f1f2f4;
  --neutral-300: #dcdfe4;
  --neutral-400: #b3b9c4;
  --neutral-500: #8590a2;
  --neutral-600: #758195;
  --neutral-700: #626f86;
  --neutral-800: #44546f;
  --neutral-900: #2c3e5d;
  --neutral-100: #f9fafc;
  --purple-100: #e9d9fb;
  --purple-200: #dfc6f9;
  --purple-300: #d0acf6;
  --purple-400: #c79cf4;
  --purple-50: #f8f3fe;
  --purple-500: #b983f1;
  --purple-600: #a877db;
  --purple-700: #835dab;
  --purple-800: #664885;
  --purple-900: #4e3765;
  --brand: #00B7DA;
  --red-100: #fde5ec;
  --red-200: #ffd5e2;
  --red-300: #f6799f;
  --red-400: #f55f8c;
  --red-50: #fff1f5;
  --red-500: #f2376f;
  --red-600: #dc3265;
  --red-700: #ac274f;
  --red-800: #851e3d;
  --red-900: #66172f;
  --teal-100: #e2f3ff;
  --teal-1000: #1e3137;
  --teal-200: #c6edfb;
  --teal-300: #9dd9ee;
  --teal-400: #6cc3e0;
  --teal-500: #42b2d7;
  --teal-600: #2898bd;
  --teal-700: #227d9b;
  --teal-800: #206a83;
  --teal-900: #164555;
  --yellow-100: #ffefb0;
  --yellow-200: #ffe78a;
  --yellow-300: #ffdb54;
  --yellow-400: #ffd533;
  --yellow-50: #fffae6;
  --yellow-500: #ffca00;
  --yellow-600: #e8b800;
  --yellow-700: #b58f00;
  --yellow-800: #8c6f00;
  --yellow-900: #6b5500;

  --d-background-violet-shadow: 4px -12px 19px 0px #FFFFFF87 inset;
  --d-background-violet: radial-gradient(96.36% 96.84% at 24.63% 38.89%, #FFFFFF 0%, #E6FBFE 0.01%, #709EFF 71.35%, #E4F9FF 100%);
  --d-background-shadow: 4px -12px 19px 0px #FFFFFF87 inset;
  --d-background-blue: radial-gradient(96.36% 96.84% at 24.63% 38.89%, #FFFFFF 0%, #E6FBFE 0.01%, #709EFF 71.35%, #E4F9FF 100%);
  --d-background-green: radial-gradient(96.36% 96.84% at 24.63% 38.89%, #FFFFFF 0%, #E6FBFE 0.01%, #85DCF8 71.35%, #E4F9FF 100%);
  --d-background-pink: radial-gradient(96.36% 96.84% at 24.63% 38.89%, #FFFFFF 0%, #E6FBFE 0.01%, #C69FF8 71.35%, #E4F9FF 100%);
  --d-background-orange: radial-gradient(96.36% 96.84% at 24.63% 38.89%, #FFFFFF 0%, #E6FBFE 0.01%, #FFCAAC 71.35%, #E4F9FF 100%);
  --d-background-grey: linear-gradient(180deg, rgba(206, 222, 254, 0.15) 0%, rgba(247, 248, 250, 0.15) 100%);
  --d-background-grey-border: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
  --d-background-grey-shadow: radial-gradient(96.36% 96.84% at 24.63% 38.89%, #FFFFFF 0%, #E6FBFE 0.01%, #709EFF 71.35%, #E4F9FF 100%);
}

:root[class*="dark-mode"] {
  --background-accent-gray-default: var(--dark-neutral300);
  --background-accent-gray-bolder-default: var(--neutral-neutral-700);
  --background-accent-gray-subtle-default: var(--neutral-neutral-500);
  --background-accent-gray-subtler-default: var(--neutral-neutral-300);
  --background-accent-gray-subtlest-default: var(--dark-neutral300);
  --background-accent-green-bold: var(--green-700);
  --background-accent-green-subtle: var(--green-800);
  --background-accent-green-subtlest: var(--green-900);
  --background-accent-navy-bold: var(--navy-600);
  --background-accent-navy-subtle: var(--navy-700);
  --background-accent-navy-subtler: var(--navy-800);
  --background-accent-navy-subtlest: var(--navy-900);
  --background-accent-orange-bold: var(--brown-700);
  --background-accent-orange-subtle: var(--brown-800);
  --background-accent-orange-subtlest: var(--brown-900);
  --background-accent-purple-default: var(--navy-900);
  --background-accent-red-bold: var(--red-600);
  --background-accent-red-subtle: var(--red-700);
  --background-accent-red-subtler: var(--red-800);
  --background-accent-red-subtlest: var(--red-900);
  --background-brand-bold-default: var(--teal-400);
  --background-brand-bold-hovered: var(--teal-300);
  --background-brand-bold-pressed: var(--teal-200);
  --background-brand-subtlest-default: var(--blue-1000);
  --background-brand-subtlest-hovered: var(--blue-900);
  --background-brand-subtlest-pressed: var(--blue-800);
  --background-danger-default: var(--red-500);
  --background-danger-hovered: var(--red-600);
  --background-danger-pressed: var(--red-700);
  --background-discovery-default: var(--navy-300);
  --background-discovery-hovered: var(--navy-400);
  --background-discovery-pressed: var(--navy-500);
  --background-information-default: var(--blue-1000);
  --background-information-hovered: var(--blue-900);
  --background-information-pressed: var(--blue-800);
  --background-input-default: var(--dark-neutral200);
  --background-input-hovered: var(--dark-neutral250);
  --background-input-pressed: var(--dark-neutral200);
  --background-neutral-default: var(--alpha-dark-neutral200a);
  --background-neutral-disabled: var(--alpha-dark-neutral100a);
  --background-neutral-hovered: var(--alpha-dark-neutral300a);
  --background-neutral-pressed: var(--alpha-dark-neutral400a);
  --background-neutral-bold-default: var(--dark-neutral800);
  --background-neutral-bold-hovered: var(--dark-neutral900);
  --background-neutral-bold-pressed: var(--dark-neutral1000);
  --background-neutral-subtle-default: var(--alpha-dark-neutral250a);
  --background-neutral-subtle-hovered: var(--alpha-dark-neutral350a);
  --background-neutral-subtle-pressed: var(--alpha-dark-neutral400a);
  --background-selected-default: var(--teal-100);
  --background-selected-hovered: var(--teal-200);
  --background-selected-pressed: var(--teal-300);
  --background-success-bold-default: var(--green-700);
  --background-success-bold-hovered: var(--green-800);
  --background-success-bold-pressed: var(--green-900);
  --border-bold: var(--dark-neutral500);
  --border-bolder: var(--dark-neutral400);
  --border-brand: var(--teal-400);
  --border-danger: var(--red-500);
  --border-default: var(--alpha-dark-neutral300a);
  --border-disabled: var(--alpha-dark-neutral200a);
  --border-focused: var(--teal-400);
  --border-selected: var(--teal-400);
  --border-accent-green-default: var(--green-500);
  --border-accent-green-subtle: var(--green-200);
  --border-accent-navy-default: var(--navy-400);
  --border-accent-navy-subtle: var(--navy-100);
  --border-accent-navy-subtler: var(--navy-200);
  --border-accent-orange-default: var(--brown-500);
  --border-accent-orange-subtle: var(--brown-200);
  --border-accent-yellow-default: var(--yellow-500);
  --icon-danger: var(--red-300);
  --icon-default: var(--dark-neutral1100);
  --icon-disabled: var(--alpha-dark-neutral400a);
  --icon-discover: var(--navy-400);
  --icon-information: var(--teal-400);
  --icon-inverse: var(--dark-neutral100);
  --icon-selected: var(--teal-400);
  --icon-subtle: var(--dark-neutral700);
  --icon-subtlest: var(--dark-neutral600);
  --icon-success: var(--green-300);
  --icon-warning: var(--brown-300);
  --icon-accent-blue: var(--teal-400);
  --icon-accent-green: var(--green-300);
  --icon-accent-navy: var(--navy-400);
  --icon-accent-orange: var(--brown-300);
  --icon-accent-red: var(--red-300);
  --icon-brand-default: var(--teal-400);
  --icon-brand-hovered: var(--teal-500);
  --icon-brand-pressed: var(--teal-600);
  --link-default: var(--blue-ribbon-400);
  --link-hovered: var(--blue-ribbon-300);
  --link-pressed: var(--blue-ribbon-200);
  --link-visited: var(--purple-300);
  --text-danger: var(--red-300);
  --text-default: var(--dark-neutral1100);
  --text-disabled: var(--alpha-dark-neutral400a);
  --text-inverse: var(--dark-neutral100);
  --text-selected: var(--teal-400);
  --text-subtle: var(--dark-neutral900);
  --text-subtlest: var(--dark-neutral800);
  --text-sucsess: var(--green-500);
  --text-waring: var(--brown-300);
  --text-accent-blue-blue: var(--teal-400);
  --text-accent-green-bolder: var(--green-400);
  --text-accent-green-boldered: var(--green-300);
  --text-accent-green-default: var(--green-500);
  --text-accent-orange-default: var(--brown-600);
  --text-accent-purple-bold: var(--navy-400);
  --text-accent-purple-default: var(--navy-300);
  --text-accent-red-red: var(--red-500);
  --text-accent-yellow-yellow: var(--yellow-500);
  --text-brand-default: var(--teal-500);
  --text-brand-hovered: var(--teal-600);
  --text-brand-pressed: var(--teal-700);
  --text-green-bolder: var(--green-bolder);
  --elevation-surface-blanket: #101214bf;
  --elevation-surface-default: #161b26;
  --elevation-surface-overlay: #161b26;
  --elevation-surface-subtle: #0c111dcc;
  --elevation-surface-subtler: #0c111d66;
  --elevation-surface-sunken: #F7F8F9;

  --d-background-violet-shadow: 0px -16px 20px 0px #692AA7 inset;
  --d-background-violet: radial-gradient(87.68% 88% at 57.59% 22.68%, #A68CDE 0%, #4D2970 63.49%);

  --d-background-shadow: 4px -12px 19px 0px #709EFF66 inset;
  --d-background-blue: radial-gradient(81.99% 82.25% at 54.28% 26%, #FFFFFF 0%, #5774B1 0%, #131D31 75.5%);
  --d-background-green: radial-gradient(96.36% 96.84% at 24.63% 38.89%, #000000 0%, #74A3AA 0.01%, #023B4D 71.35%);
  --d-background-pink: radial-gradient(96.36% 96.84% at 24.63% 38.89%, #C6ADFA 0%, #9161C1 50%, #10021F 100%);
  --d-background-orange: radial-gradient(79.76% 80% at 62.5% 24.25%, #AB9E93 0.01%, #4B3D36 71.35%);
  --d-background-grey: linear-gradient(180deg, rgba(36, 39, 46, 0.15) 0%, rgba(50, 55, 65, 0.15) 100%);
  --d-background-grey-border: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  --d-background-grey-shadow: 54px 0px 100px 0px #525ECA1A inset, 2px 3px 84px 0px #0047FF0D;
}
