@font-face {
  font-family: 'Mulish';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Mulish-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Mulish-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/Mulish-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Mulish-Bold.ttf') format('truetype');
}

